.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.nav-link{

  color:  black;
  font-family:sans-serif;
font-weight:bold;

}
.nav{
  background-color: darkgray;
}
.logotipo{
 
  margin: 10px;
 
}